<div class="fly" [ngClass]="{'drive': drive}">
    <app-nav *ngIf='userId === undefined'></app-nav>
    <h6>Travel with us.</h6><h1>Skys&roads.</h1>
</div>
<div class="container">
    <button type="button" (click) = "onFly()" [ngClass]="{'choosen-option-class': fly}">FLY</button>
    <button type="button" (click) = "onDrive()" [ngClass]="{'choosen-option-class': drive}">DRIVE</button>
</div>
<div class="form">
    <app-flight-main-form [userId]="userId" *ngIf="fly" ></app-flight-main-form>
    <app-drive-main-form [userId]="userId" *ngIf="drive"></app-drive-main-form>
</div>
<app-top-rated [option]='option'></app-top-rated>
<app-become-a-host [option]='option'></app-become-a-host>
<app-redirect-to [option]='option'></app-redirect-to>
<app-bottom-menu *ngIf='userId !== undefined' [userId] = "userId"></app-bottom-menu>
<app-footer></app-footer>