@import '../../../app.component.scss';

input {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    height: 3em;
    padding-left: 1em;
    border: 1px solid lightgrey;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(100, 100, 100);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(100, 100, 100);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(100, 100, 100);
}