<div class="container">
    <a href="#" id="fly">Fly</a>
    <a href="#" id="drive">Drive</a>
</div>
<form action="">
    <p id="where">WHERE</p>
    <input id="where-input" type="text" placeholder="Anywhere">
    <p id="checkin">CHECK-IN</p>
    <input id="checkin-input" type="text" placeholder="mm/dd/yyyy">
    <p id="checkout">CHECKOUT</p>
    <input id="checkout-input" type="text" placeholder="mm/dd/yyyy">
    <p id="adults">ADULTS</p>
    <input id="adults-input" type="text" placeholder="1 adult">
    <p id="children">CHILDREN</p>
    <input id="children-input" type="text" placeholder="0 children">
    <input id="submit" type="submit" value="SEARCH">
</form>