<h1>Sign up</h1>
<form action="">
  <input id="first-name" type="text" placeholder="First Name">
  <input id="last-name" type="text" placeholder="Last Name">
  <input id="email" type="email" placeholder="Email Address">
  <input id="password" type="password" placeholder="Password">
  <input id="confirm-password" type="password" placeholder="Confirm Password">
  <input id="submit" type="submit" value="SIGN UP">
</form>
<app-social-network></app-social-network>
<div class="login-div">
  <p>Already have an account? <a href="#" routerLink='/signin' routerLinkActive="router-link-active" >Log in</a></p>
</div>
<app-bottom-menu></app-bottom-menu>

