<div [ngStyle]="{'visibility': scrolled ? 'visible' : 'hidden',
                'opacity': scrolled ? '1' : '0',
                'grid-template-columns': userId !== undefined? '25% 25% 25% 25%' : 'none'}"
                 class="bottom-menu-div">
    <!-- <div *ngIf='user !== undefined'>
        <a id="linkToHome" href="#" routerLink='/{{user.id}}/flights'>
            <img src="../../../../assets/airplane.svg" alt="">
            <p>Trips</p>
        </a>
    </div>
    <div *ngIf='user !== undefined'>
        <a id="linkToHome" href="#" routerLink='/'>
            <img src="../../../../assets/car-icon.svg" alt="">
            <p>Cars</p>
        </a>
    </div>
    <div *ngIf='user === undefined'>
        <a id="linkToHome" href="#" routerLink='/'>
            <img src="../../../../assets/icons8-home.svg" alt="">
            <p>Home</p>
        </a>
    </div>
    <div *ngIf='user !== undefined'>
        <a id="linkToHome" href="#" routerLink='/{{user.id}}/home'>
            <img src="../../../../assets/icons8-home.svg" alt="">
            <p>Home</p>
        </a>
    </div>
    <div *ngIf='user !== undefined'>
        <a id="linkToHome" routerLink='/{{user.id}}/friends-list'>
            <img src="../../../../assets/chat.svg" alt="">
            <p>Messages</p>
        </a>
    </div>
    <div *ngIf='user !== undefined'>
        <a id="linkToHome" href="#" routerLink='/{{user.id}}/profile'>
            <img src="../../../../assets/account.svg" alt="" >
            <p>Profile</p>
        </a>
    </div> -->
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/profile'>
            <img src="../../../../assets/bottom-menu/explore.svg" alt="" >
            <p>Explore</p>
        </a>
    </div>
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/profile'>
            <img src="../../../../assets/bottom-menu/building.svg" alt="" >
            <p>Home</p>
        </a>
    </div>
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/messages'>
            <img src="../../../../assets/bottom-menu/message.svg" alt="" >
            <p>Messages</p>
        </a>
    </div>
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/profile'>
            <div class="image"></div>
            <p>Profile</p>
        </a>
    </div>
</div>