<div [ngStyle]="{'visibility': scrolled ? 'visible' : 'hidden',
                'opacity': scrolled ? '1' : '0',
                'grid-template-columns': userId !== undefined? '33% 33% auto' : 'none'}"
                 class="bottom-menu-div">
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/messages'>
            <img src="../../../../assets/bottom-menu/message.svg" alt="" >
            <p>Messages</p>
        </a>
    </div>
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/profile'>
            <img src="../../../../assets/bottom-menu/building.svg" alt="" >
            <p>Home</p>
        </a>
    </div>
    <div *ngIf='userId !== undefined'>
        <a href="#" routerLink='/{{userId}}/profile'>
            <div class="image"></div>
            <p>Profile</p>
        </a>
    </div>
</div>