@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$colors : (
    almost-black: rgb(66,66,66),
    zelena: green,
);

$font-size: (
    huge: 2em,
);

* {
    font-family: 'Montserrat', 'sans-serif';
}