<div class="radio-group">
    <label class="radio">
        <input (change)="sameLocation()" type="radio" name="flight-type" value="same-location" checked>
        Same location
        <span></span>
    </label>
    <label class="radio">
        <input (click)="differentLocation()" type="radio" name="flight-type" value="different-location">
        Different location
        <span></span>
    </label>
</div>
<form action="">
    <p [ngStyle]="{'grid-column': sameLocationChoosed ? '1/ span 2' : '1'}">PICK-UP LOCATION</p>
    <p [ngStyle]="{'display': sameLocationChoosed ? 'none' : 'block'}">DROP-OFF LOCATION</p>
    <app-places-search [ngStyle]="{'grid-column': '1/ span 2'}" *ngIf="sameLocationChoosed" [pickUpLocation] = "true"></app-places-search>
    <app-places-search *ngIf="!sameLocationChoosed" [left] = "true"></app-places-search>
    <app-places-search *ngIf="!sameLocationChoosed" [right] = "true"></app-places-search>
    <p id="checkin">PICK-UP DATE</p>
    <p id="checkout">DROP-OFF DATE</p>
    <input [ngStyle]="{'grid-column': '1/ 1',
                       'border-top-right-radius': '0px',
                       'border-bottom-right-radius': '0px'}"
                        class="left-input" type="text" placeholder="mm/dd/yyyy">
    <input style="border-left: 0px;" class="right-input" type="text" placeholder="mm/dd/yyyy">
    <p id = "travellers">TRAVELLERS</p>
    <app-person-num-search id = "travellers-div"></app-person-num-search>
    <input id="submit" type="submit" value="SEARCH">
</form>
<div class="separator-div">
    <hr class="separator">
</div>
