<div class="container">
    <hr id="left"><hr id="right">
    <img id="plane" src="../../../../assets/icons8-airplane-emoji-96.png" alt="">
    <span id="spandate">DATE</span>
    <p id="date">May 24,2020</p>
    <span id="spanairlines">AIRLINES</span>
    <p id="airlines"><img src="../../../../assets/turkish_airlines_logo.png">Turkish Airlines</p>
    <p id="from-full">Belgrade</p>
    <p id="from">BEG</p>
    <p id="to-full">Zagreb</p>
    <p id="to">ZAG</p>
    <span id="spandeparture">DEPARTURE</span>
    <p id="departure">10:20</p>
    <span id="spanarrival">ARRIVAL</span>
    <p id="arrival">11:25</p>
    <span id="spanflight">FLIGHT</span>
    <p id="flight">TA194</p>
    <div class="price">
        <span id="oldprice">290€ </span><span id="newprice">190€</span>
    </div>
    <span id="spanseat">SEAT</span>
    <p id="seat">19A</p>
</div>