<app-nav></app-nav>
<h1>Travel with us.<br> Skys and roads.</h1>
<div class="container">
    <button type="button" id="fly" (click) = "optionChanged('fly')" class="choosen-option-class">Fly</button>
    <button type="button" id="drive" (click) = "optionChanged('drive')">Drive</button>
</div>
<app-flight-main-form *ngIf="option == 'fly'" ></app-flight-main-form>
<app-drive-main-form *ngIf="option == 'drive'"></app-drive-main-form>
<app-become-a-host></app-become-a-host>
<app-airlines *ngIf="option == 'fly'"></app-airlines>
<app-show-rent-a-car-services *ngIf="option == 'drive'"></app-show-rent-a-car-services>
<app-redirect-to-cars *ngIf="option == 'fly'"></app-redirect-to-cars>
<app-redirect-to-airlines *ngIf="option == 'drive'"></app-redirect-to-airlines>
<app-footer></app-footer>