<div class="container">
    <p>FROM</p>
    <p>WHERE</p>
    <input style="grid-column: 1/1; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
            class="left-input" type="text" placeholder="Anywhere">
    <input style="border-left: 0px;" class="right-input" type="text" placeholder="Anywhere">
    <p id="checkin">DEPART</p>
    <input style="grid-column: 1/ span 2; border-top-right-radius: 3px; border-bottom-right-radius: 2px;"
            class="left-input" type="text" placeholder="mm/dd/yyyy">
    <div class="sep-div">
        <hr class="sep">
    </div>
</div>