<div class='friend-div'>
    <!-- <span onclick="this.parentElement.style.display='none'" class="delete-span">Delete</span> -->
    <img src="../../../assets/avatar.png" class="photo" style="width:85px">
    <div class="info">
      <span id="flname">{{friend.firstName}} {{friend.lastName}}</span><br>
      <span id='username'>{{friend.email}}</span>
    </div>
    <hr>
    <div class="btns-div">
        <button class="btns" id='invite'><img src="../../../assets/inviteFriend.png"><span>Invite</span></button>
        <button class="btns" id='delete'><img src="../../../assets/deleteFriend.png"><span>Delete</span></button>
    </div>
</div>