@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    box-sizing: border-box;
}

header {
  margin: 0;
  padding-left:1em;
  
  nav {
    display: block;
    height: calc(.07 * 100vh);
    position: relative;
    img {
      position: absolute;
      top: calc(((.07 * 100vh)-25px)/4);
      height: 25px;
      width: 25px;
    }
  }
}

.main {
  padding: 2em 0 0 1.3em;
  margin-right: 2em;

  #name {
    line-height: 26px;
    font-size: 2em;
    font-weight: 500;
    text-shadow: 0 2px 4px rgb(211, 209, 209);
  }

  .grade {
    float: right;

    svg {
      height: 14px;
      width: 14px;
      color: red;
      margin-right: 5px;
    }

    span {
      line-height: 14px;
    }

  }

  .location {
    position: relative;
    margin-top: 8px;

    img {
      position: absolute;
      top: 2px;
      height: 18px;
      width: 18px;
    }

    #city, #state {
      font-size: 18px;
    }

    #city{
      padding-left: 1.2em;
    }
  }

  .about {
    margin-right: 20%;
    p {
      line-height: .98em;
      margin-top: 3em;
      font-weight: 600;
      color: rgb(130, 130, 130);
      font-size: .9em;
    }
  
    #about {
      margin-top: .5em;
      padding-left: 1em;
      font-weight: 400;
      color: rgb(60, 60, 60);
      font-size: 1em;
      border-left: 1px solid rgb(230, 230, 230);
    }
  }
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(230, 230, 230);

  form {
    width: 100%;
    text-align: center;

    input{
      width: calc(100% - 3em);
      padding: 0.5em 0;
      margin: 1.5em 1em;
      font-size: .87em;
      font-weight: 600;
      color: white;
      background-color: rgb(30, 30, 30);
      height: 3.5em;
      border: 3px solid rgb(30, 30, 30);
      border-radius: 40px;
      box-shadow: 0px 4px 8px rgb(200, 200, 200);
    }
  }
}