<ul class="all">
    <li [ngStyle]="{'border-bottom': 'none'}">
        <div class="container">
            <hr id="left"><hr id="right">
            <img id="plane" src="../../../../assets/icons8-airplane-emoji-96.png" alt="">
            <span id="spandate">DATE</span>
            <p id="date">{{flight.takeOffDate | date: 'dd-MM-yyyy'}}</p>
            <span id="spanairlines">AIRLINES</span>
            <p id="airlines"><img src="../../../../assets/turkish_airlines_logo.png">{{getAirlineName(flight.airlineId)}}</p>
            <p id="from-full">{{flight.from.city}}</p>
            <p id="from">{{flight.from.shortName}}</p>
            <p id="to-full">{{flight.to.city}}</p>
            <p id="to">{{flight.to.shortName}}</p>
            <span id="spandeparture" [ngStyle]="{'grid-area': 'spandeparture',
                                                 'text-align': 'left'}">DEPARTURE</span>
            <p id="departure" [ngStyle]="{'grid-area': 'departure',
                                          'text-align': 'left'}">{{flight.takeOffTime}}</p>
            <span id="time"><img src="../../../../assets/icons8-clock.svg">{{flight.tripTime}}</span>
            <span id="spanarrival" [ngStyle]="{'grid-area': 'spanarrival',
                                               'text-align': 'right'}">ARRIVAL</span> 
            <p id="arrival" [ngStyle]="{'grid-area': 'arrival',
                                        'text-align': 'right'}">{{flight.landingTime}}</p>
            <span id="spanflight">FLIGHT</span>
            <p id="flight">{{flight.flightNumber}}</p>
            <span id="spandistance">DISTANCE</span>
            <p id="distance">{{flight.tripLength}}km</p>
            <div id="stops">
                <span *ngIf="flight.changeOverLocations.length > 0">{{flight.changeOverLocations.length}} stops</span>
                <ul *ngIf="flight.changeOverLocations.length > 0">
                    <li *ngFor="let stop of flight.changeOverLocations; let i = index">
                        <p *ngIf="i === flight.changeOverLocations.length -1">{{stop.newDestination.city}}</p>
                        <p *ngIf="i !== flight.changeOverLocations.length -1">{{stop.newDestination.city}}, </p>
                    </li>
                </ul>
                <span *ngIf="flight.changeOverLocations.length === 0">direct</span>
            </div>
        </div>
        <div (click)="showStopsInfo(i)" id="stops-info-arrow" *ngIf="flight.changeOverLocations.length > 0">
            <img [ngStyle]="{'transform': showInfo[i] ? 'rotate(90deg)' : 'rotate(-90deg)'}" src="../../../../assets/back.png" alt="">
        </div>
        <div class="stops-info" *ngIf="showInfo[i]">
            <ul>
                <li>
                    <span id="stop-from">{{flight.from.city}}(<span>{{flight.from.shortName}}</span>)</span>
                    <span id="stop-time"><img src="../../../../assets/icons8-clock.svg">{{calculateFlightLength(flight.takeOffTime, flight.changeOverLocations[0].arrivalTime)}}</span>
                    <span id="stop-to">{{flight.changeOverLocations[0].newDestination.city}}(<span>{{flight.changeOverLocations[0].newDestination.shortName}}</span>)</span>
                    <span id="stop-departure">DEPARTURE: <span>{{flight.takeOffTime}}</span></span>

                    <span id="stop-arrival">ARRIVAL: <span>{{flight.changeOverLocations[0].arrivalTime}}</span></span>
                    <div id="stop-pause">
                        <span>Change planes in {{flight.changeOverLocations[0].newDestination.city}}</span>
                        <span id="stop-time"> - {{flight.changeOverLocations[0].stopTime}}</span>
                    </div>
                </li>
                <li *ngFor="let item of flight.changeOverLocations; let ind = index; last as isLast">
                    <span id="stop-from">{{item.newDestination.city}}(<span>{{item.newDestination.shortName}}</span>)</span>
                    <span id="stop-time" *ngIf="!isLast"><img src="../../../../assets/icons8-clock.svg">{{calculateFlightLength(item.departureTime, flight.changeOverLocations[ind + 1].arrivalTime)}}</span>
                    <span id="stop-time" *ngIf="isLast"><img src="../../../../assets/icons8-clock.svg">{{calculateFlightLength(item.departureTime, flight.landingTime)}}</span>
                    <span id="stop-to" *ngIf="!isLast">{{flight.changeOverLocations[ind + 1].newDestination.city}}(<span>{{flight.changeOverLocations[ind + 1].newDestination.shortName}}</span>)</span>
                    <span id="stop-to" *ngIf="isLast">{{flight.to.city}}(<span>{{flight.to.shortName}}</span>)</span>
                    <span id="stop-departure">DEPARTURE: <span>{{item.departureTime}}</span></span>

                    <span id="stop-arrival" *ngIf="!isLast">ARRIVAL: <span>{{flight.changeOverLocations[ind + 1].arrivalTime}}</span></span>
                    <span id="stop-arrival" *ngIf="isLast">ARRIVAL: <span>{{flight.landingTime}}</span></span>
                    <div id="stop-pause" *ngIf="!isLast">
                        <span>Change planes in {{flight.changeOverLocations[ind + 1].newDestination.city}}</span>
                        <span id="stop-time"> - {{flight.changeOverLocations[ind + 1].stopTime}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <!-- <li>
        <div class="price-more">
            <span id="total">TOTAL PRICE:</span>
            <span id="newprice">190€</span>
        </div>
    </li> -->
</ul>
<button id="book" *ngIf='!showRate && !showRemove'>VIEW DEAL</button>
<button id="rate" *ngIf='showRate' (click)='rateClick()'>RATE</button>
<button id="remove" *ngIf='showRemove' (click)='removeClick()'>REMOVE</button>
<!-- kad klikne remove reg.user -->
<div id="myModal" class="modal" >
    <div class="modal-content">
      <span class="close" (click)='closeModal()'>&times;</span>
      <p>Are you sure?</p>
      <button class="modal-btn" id='yes-btn' (click)='removeFlight(flight)'>Yes</button>
      <button class="modal-btn" id='no-btn' (click)='closeModal()'>No</button>
    </div>
</div>
