<h1>Sign up</h1>
<form action="">
  <input id="first-name" type="text" placeholder="First Name">
  <input id="last-name" type="text" placeholder="Last Name">
  <input id="email" type="email" placeholder="Email Address">
  <input id="password" type="password" placeholder="Password">
  <input id="confirm-password" type="password" placeholder="Confirm Password">
  <input id="submit" type="submit" value="SIGN UP">
</form>
<div class="separator-div">
  <hr class="seperator left">
    <span id="or">or</span>
  <hr class="seperator right">
</div>
<div class = "account-div">
  <button type="button">
    <div class="button-content">
      <img src="../../assets/gmail.png" alt="">
      <p>Continue with Gmail</p>
    </div>
  </button>
</div>
<div class = "account-div">
  <button type="button">
    <div class="button-content">
      <img src="../../assets/instagram.png" alt="">
      <p>Continue with Instagram</p>
    </div>
  </button>
</div>
<div class = "account-div">
  <button type="button">
    <div class="button-content">
      <img src="../../assets/facebook.png" alt="">
      <p>Continue with Facebook</p>
    </div>
  </button>
</div>
<div class="login-div">
  <p>Already have an account? <a href="#">Log in</a></p>
</div>

