<h1>ADD FLIGHT</h1>
<form action = "">
    <p class="takeoff-datetime-p" id = 'takeoffdate-p'>TAKEOFF DATE</p>
    <input type="date" id='takeoff-date'>
    <p class="takeoff-datetime-p" id = 'takeofftime-p'>TAKEOFF TIME</p>
    <input type="time" id='takeoff-time'>

    <p class="landing-datetime-p" id = 'landingdate-p'>LANDING DATE</p>
    <input type="date" id='landingdate'>

    <p class="landing-datetime-p" id = 'landingtime-p'>LANDING TIME</p>
    <input type="time" id='landingtime'>

    
    <p class="trip-time-p" id = 'triptime-p'>TRIP TIME</p>
    <input type="time" id='triptime'>

    <p class="trip-length-p" id = 'triplen-p'>TRIP LENGTH</p>
    <input type="text" id='triplength'>

    <p class="changeover-num-p" id = 'changeovernum-p'>CHANGE OVER NUMBER</p>
    <input type="number" id='changeovernum'>

    <p class="changeover--p" id = 'changeover-p'>CHANGE OVER</p>
    <app-places-picker></app-places-picker>
    
    <input type="submit" value="ADD" (click) = "addFlight()" id="submit">
</form>
<app-bottom-menu></app-bottom-menu>