@import '../../app.component.scss';

ul{
    list-style: none;
    margin-top:100px;
    padding: 0;

}
#empty{
    margin-left: 10%;
    align-items: center;
    h3{

    }
    #addFriend{
        // margin-left:33%;
        background-color: transparent;
        border: 1px solid grey;
        width: 100px;
        height: 40px;
    }
}


