<app-search-bar [friendsList] = "usersForSearch" (emitter) = "showSearchedFriends($event)"></app-search-bar>
<ul>
    <li *ngIf = "userFriends.length === 0 && searchOn == false" id ="empty">
         <h3>Your friends list is empty.</h3>
    </li>
    <li>
        <button id = "addFriend" (click)='addFriend()' *ngIf='addUserOn === false'>+Add friend</button>
        <button id = "addFriend" (click)='addFriendBack()' *ngIf='addUserOn'>Back to friends list</button>
    </li>
    
    <li *ngFor="let friend of userFriends">
        <app-friend [friend] = "friend" [add]='addUserOn'></app-friend>
    </li>
</ul>
<app-bottom-menu [user] = "user"></app-bottom-menu>
