@import './../../../app.component.scss';

form {
    margin: 50px 0 100px 30px;
    h1 {
      display: inline-block;
      color: rgb(60, 60, 60);
      vertical-align: top;
      margin-bottom: 50px;
    }

    h3 {
      margin-bottom: 30px;
    }
    .input{
      font-size: 1em;
        width: 70%;
        height: 30px;
        padding-left: 10px;
        margin-bottom: 15px;
        border: 0;
        border-bottom: 1px solid lightgray;
        outline: $purple;
    }

    p {
      font-size: .75em;
      color: rgb(60, 60, 60);
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 3px;
    }

    #image {
      float: right;
      margin-right: 30px;
      justify-self: right;
      width: 120px;
      height: 120px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      img{
        display: inline-block;
        margin-top: -20%;
        margin-left: -35%;
        height: 120%;
        width: auto;
      }
    }
    button{
        padding: 1em;
        margin-top: 30px;
        width: calc(100% - 60px);
        border: none;
        background-color: $purple;
        color:white;
        font-weight: bold;
        border-radius: 20px;
        font-size: 15px;
    }
}

#snackbar {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -140px; 
    background-color: #333;
    color: #fff;
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1;
    left: 50%; 
    bottom: 120px; 
  }
  
  #snackbar.show {
    visibility: visible; 

    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }