<div class="popup">
    <div class="remove-friend-header">
        <button (click)="return(false)">
            <svg aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; fill: rgb(34, 34, 34); height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path d="m6 6 20 20"></path><path d="m26 6-20 20"></path></svg>
        </button>
        <span>Unfriend</span>
    </div>
    <div class="content">
        <img src='../../../../assets/illustrations/undraw_having_fun_iais.svg'>
        <h4>Are you sure you want to remove 
            <h4>{{props.friend.firstName}} {{props.friend.lastName}}</h4>
             from your friends?
        </h4>
        <br>
        <button id="cancel" (click)="return(false)">Cancel</button>
        <button id="remove" (click)="return(true)">Remove</button>
    </div>
</div>