<h1>REGISTER YOUR COMPANY</h1>
<div class="container">
    <button type="button" id="fly" (click) = "optionChanged('fly')" class="choosen-option-class">AIRLINE</button>
    <button type="button" id="drive" (click) = "optionChanged('drive')">RENT A CAR</button>
</div>
<form action="" *ngIf="option === 'fly'">
    <p id="pname">COMPANY NAME*</p>
    <input id="name" type="text" placeholder="">
    <p id="paddress">ADDRESS*</p>
    <!-- <input id="where-input" type="text" placeholder=""> -->
    <app-places-search id="where-input" [left]='true'></app-places-search>
    <p id="ppromo">PROMO DESCRIPTION</p>
    <input id="promo-input" type="text" placeholder="">
    <p id="pdestinations">FLIGHT DESTINATIONS</p>
    <!-- <input id="destinations-input" type="text" placeholder=""> -->
    <app-places-picker ></app-places-picker>

    <input id="submit" type="submit" value="REGISTER">
</form>
<form action="" *ngIf="option === 'drive'">
    <p id="pname">COMPANY NAME*</p>
    <input id="name" type="text" placeholder="">
    <p id="paddress">ADDRESS*</p>
    <!-- <input id="where-input" type="text" placeholder=""> -->
    <app-places-search id="where-input" [left]='true'></app-places-search>
    <p id="ppromo">PROMO DESCRIPTION</p>
    <input id="promo-input" type="text" placeholder="">
    <p id="pdestinations">BRANCHES</p>
    <!-- <input id="destinations-input" type="text" placeholder=""> -->
    <app-places-picker></app-places-picker>

    <input id="submit" type="submit" value="REGISTER">
</form>
<app-bottom-menu></app-bottom-menu>