<h1>Top-rated airlines</h1>
<h6>Fly with some of the best-reviewed airlines.</h6>
<div class="app">
    <div class="full hide-scroll">
        <ul class="hs">
            <li class="item">
                <a href="#">
                    <div class="name">
                        <span>Qatar Airlines</span>
                        <div class="grade">
                            <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height: 12px; width: 12px; fill: currentcolor;"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"></path></svg>
                            <span>4.75</span>
                        </div>
                    </div>
                    <div class="location">
                        <img src="../../../assets/location_mark.png" alt="">
                        <span id="city">Doha</span><span aria-hidden="true"> · </span> <span>Qatar</span>
                    </div>
                    <div class="about">
                        <p>World’s fastest-growing airline. We connect more than 160 destinations on the map every day.</p>
                    </div>
                    <div class="destinations">
                        <span>Destinations: </span>
                        <div class="cities">
                            <p style="background-color: #998AD3;">London</p>
                            <p style="background-color: #E494D3;">New York</p>
                            <p style="background-color: #CDF1AF;">Paris</p>
                            <p style="background-color: #87DCC0;">Moskow</p>
                            <p style="background-color: #88BBE4;">Mexico City</p>
                            <p style="background-color: #CDF1AF;">Tokio</p>
                            <p style="background-color: #E494D3;">Zagreb</p>
                            <p style="background-color: #87DCC0;">Baku</p>
                            <p style="background-color: #998AD3;">Eqypt</p>
                            <p style="background-color: #87DCC0;">Rio</p>
                            <p>Los Angelos</p>
                            <p>Podgorica</p>
                        </div>
                    </div>                  
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <div class="name">
                        <span>Turkish Airlines</span>
                        <div class="grade">
                            <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height: 12px; width: 12px; fill: currentcolor;"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"></path></svg>
                            <span>4.6</span>
                        </div>
                    </div>
                    <div class="location">
                        <img src="../../../assets/location_mark.png" alt="">
                        <span id="city">Istanbul</span><span aria-hidden="true"> · </span> <span>Turkey</span>
                    </div>
                    <div class="about">
                        <p>Established back in 1933. Now we fly to more contries than any other airline.</p>
                    </div>
                    <div class="destinations">
                        <span>Destinations: </span>
                        <div class="cities">
                            <p style="background-color: #87DCC0;">Madrid</p>
                            <p style="background-color: #E494D3;">Barcelona</p>
                            <p style="background-color: #CDF1AF;">Chicago</p>
                            <p style="background-color: #998AD3;">Vienna</p>
                            <p style="background-color: #88BBE4;">Doha</p>
                            <p style="background-color: #87DCC0;">Maldives</p>
                            <p style="background-color: #87DCC0;">Zagreb</p>
                            <p style="background-color: #E494D3;">Belgrade</p>
                            <p style="background-color: #998AD3;">London</p>
                            <p style="background-color: #87DCC0;">Berlin</p>
                            <p>Los Angelos</p>
                            <p>Podgorica</p>
                        </div>
                    </div>                  
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <div class="name">
                        <span>AirSerbia</span>
                        <div class="grade">
                            <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height: 12px; width: 12px; fill: currentcolor;"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"></path></svg>
                            <span>4.9</span>
                        </div>
                    </div>
                    <div class="location">
                        <img src="../../../assets/location_mark.png" alt="">
                        <span id="city">Belgrade</span><span aria-hidden="true"> · </span> <span>Serbia</span>
                    </div>
                    <div class="about">
                        <p>Founded in 1927. We offer a new concept of in-flight comfort across our growing network of lines.Maximum comfort while traveling, regardless of the class.</p>
                    </div>
                    <div class="destinations">
                        <span>Destinations: </span>
                        <div class="cities">
                            <p style="background-color: #998AD3;">London</p>
                            <p style="background-color: #E494D3;">New York</p>
                            <p style="background-color: #CDF1AF;">Paris</p>
                            <p style="background-color: #87DCC0;">Moskow</p>
                            <p style="background-color: #88BBE4;">Mexico City</p>
                            <p style="background-color: #CDF1AF;">Tokio</p>
                            <p style="background-color: #E494D3;">Zagreb</p>
                            <p style="background-color: #87DCC0;">Baku</p>
                            <p style="background-color: #998AD3;">Eqypt</p>
                            <p style="background-color: #87DCC0;">Rio</p>
                            <p>Los Angelos</p>
                            <p>Podgorica</p>
                        </div>
                    </div>                  
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <div class="name">
                        <span>Qatar Airlines</span>
                        <div class="grade">
                            <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height: 12px; width: 12px; fill: currentcolor;"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"></path></svg>
                            <span>4.75</span>
                        </div>
                    </div>
                    <div class="location">
                        <img src="../../../assets/location_mark.png" alt="">
                        <span id="city">Doha</span><span aria-hidden="true"> · </span> <span>Qatar</span>
                    </div>
                    <div class="about">
                        <p>World’s fastest-growing airline. We connect more than 160 destinations on the map every day.</p>
                    </div>
                    <div class="destinations">
                        <span>Destinations: </span>
                        <div class="cities">
                            <p style="background-color: #998AD3;">London</p>
                            <p style="background-color: #E494D3;">New York</p>
                            <p style="background-color: #CDF1AF;">Paris</p>
                            <p style="background-color: #87DCC0;">Moskow</p>
                            <p style="background-color: #88BBE4;">Mexico City</p>
                            <p style="background-color: #CDF1AF;">Tokio</p>
                            <p style="background-color: #E494D3;">Zagreb</p>
                            <p style="background-color: #87DCC0;">Baku</p>
                            <p style="background-color: #998AD3;">Eqypt</p>
                            <p style="background-color: #87DCC0;">Rio</p>
                            <p>Los Angelos</p>
                            <p>Podgorica</p>
                        </div>
                    </div>                  
                </a>
            </li>
        </ul>
    </div>
</div>
<form>
    <input id="submit" type="submit" value="SHOW ALL">
</form>
<div class="separator-div">
    <hr class="separator">
</div>