<!-- <div class="app">
    <div class="full hide-scroll"> -->
        <ul class="hs">
            <li>
                <button id="name">
                    <div>
                        <span>Name</span>
                        <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                    </div>
                </button>
            </li>
            <li>
                <button id="name">
                    <div style="grid-template-columns: auto;">
                        <span>City</span>
                        <!-- <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);"> -->
                    </div>
                </button>
            </li>
            <li>
                <button id="name">
                    <div>
                        <span>City</span>
                        <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                    </div>
                </button>
            </li>
            <li>
                <button id="name">
                    <div>
                        <span>Name</span>
                        <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                    </div>
                </button>
            </li>
            <li>
                <button id="name">
                    <div>
                        <span>Name</span>
                        <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                    </div>
                </button>
            </li>
            <li>
                <button id="name">
                    <div>
                        <span>Name</span>
                        <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                    </div>
                </button>
            </li>
            <li>
                <button id="name">
                    <div>
                        <span>Name</span>
                        <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                    </div>
                </button>
            </li>
        </ul>
    <!-- </div>
</div> -->