<div class="app">
    <div class="full hide-scroll">
        <ul class="hs">
            <li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li>
            <li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li><li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li><li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li><li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li><li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li><li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li><li>
                <button id="name">
                    Name
                    <img  id="next" src="../../../../assets/bold_arrow.svg" alt="" style="transform: rotateZ(-90deg);">
                </button>
            </li>
        </ul>
    </div>
</div>